<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Employees Records Portal</h2>
    <hr/>
    <table border='1' style="border:border-collapse">
        <th>UserID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        
    {% for record in employees : %}

        <tr>
            <td> {{record['userId']}} </td>
            <td>{{record['firstName']}}</td>
            <td>{{record['lastName']}}</td>
            <td>{{record['phoneNumber']}}</td>
            <td>{{record['emailAddress']}}</td>
        </tr>

    {% endfor %}

</body>
</html>
