{% extends "layout.html" %}

{% block content %}
    <div class="about-section">
        <h1>Our Team</h1>
        <p>We have developed this website using Flask</p>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="sindhu.png">
                <div class="container">
                    <h2>Sindhu Priya Malireddi</h2>
                    <p>sindhumalireddi@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="karthik.png">
                    <div class="container">
                        <h2>Sai Karthik Patri</h2>
                        <p>jane@example.com</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="shiny.png">
                    <div class="container">
                        <h2>Shiny Grace Addepalli</h2>
                        <p>shinyaddepalli@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="sugandha.png">
                <div class="container">
                    <h2>Sugandha Dhanawade</h2>
                    <p>sugandhadhanawade@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="">
                    <div class="container">
                        <h2>Sai Teja Nomula</h2>
                        <p>nomulasaiteja733@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="">
                        <div class="container">
                            <h2>Shivam Chaturvedi</h2>
                            <p>shivamchaturvedi0400@gmail.com</p>
                        </div>
                    </div>
                </div>
{% endblock %}