<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/home.css" rel="stylesheet">
    <title>Welcome Page</title>
</head>
<body>
    <section>
        <header>
            <h2><a href="#" class="sem" >S E M</a></h2>
            <div class="navigation">
                <a href="/">Home</a>
                <a href="/login">login</a>
                <a href="/register">register</a>
                <a href="/contact">contact</a>
            </div>
        </header>
        <div class="content">
            <div class="info">
                <h2>Social Event Management <br> <span>inspire & innovate</span></h2>
                <p>You can create your account based on your interests, you can be a participant, organizer and even become a sponsor to donate to the social events</p>
                <a href="/register" class="info-btn">Register </a>
                
            </div>
        </div>
    </section>
</body>
</html>