{% extends "layout.html" %}
{% block content %}

<div class="content_side">
    <nav>
        <ul>
            <a href=""><li><h4>ALL EVENTS</h4></li></a>
            <a href="/createEvent"><li>CREATE EVENTS</h4></li></a>
            <a href="/viewParticipants"><li><h4>APPROVE PARTICIPANT</h4></li></a>
            <a href="/viewSponsors"><li><h4>APPROVE SPONSORS</h4></li></a>
        </ul>
    </nav>
    <div class="cards">
        {% for i in result: %}
        
        <div class="card">
            <div class="img-holder">
                <img src="/static/img/plant.jpg" alt="">
            </div>
            <div class="text">
                <h2>{{i[2]}}</h2>
                <h2>{{i[3]}}</h2>
                <h2>{{i[4]}}</h2>
                <h2>{{i[5]}}</h2>
                <h2>{{i[6]}}</h2>
                <h2>{{i[7]}}</h2>
            </div>
           
        </div>
    
        {% endfor %}
    </div> 

{% endblock %}