<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>Upcoming Events</h1>
    <a href="/sponsorevents">Click Here To View Your Events</a>
    {% for i in result: %}
    <br>
    <table border="1" style="margin:auto;">
        <tr>
            <td>Event Name:</td>
            <td>{{i[2]}}</td>
        </tr>
        <tr>
            <td>Event Description</td>
            <td>{{i[3]}}</td>
        </tr>
        <tr>
            <td>Event Venue</td>
            <td>{{i[4]}}</td>
        </tr>
        <tr>
            <td>Event Time</td>
            <td>{{i[5]}}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <form action="/sponsoreve/{{i[0]}}" method="post">
                    <input type="submit" name="sponsor" id="" value="Sponsor">
                </form>
            </td>
        </tr>
    </table>

    <br>
    <hr width="18%">
    {% endfor %}
    <br>
    

    <hr width="36%" height="2px">
    <h1>Recent Events</h1>
    {% for i in result2: %}
    <table border="1" style="margin:auto;">
        <tr>
            <td>Event Name:</td>
            <td>{{i[2]}}</td>
        </tr>
        <tr>
            <td>Event Description</td>
            <td>{{i[3]}}</td>
        </tr>
        <tr>
            <td>Event Venue</td>
            <td>{{i[4]}}</td>
        </tr>
        <tr>
            <td>Event Time</td>
            <td>{{i[5]}}</td>
        </tr>
    </table>
    <br>
    <hr width="18%">
    {% endfor %}
</body>
</html> -->


{% extends "layout.html" %}


{% block content %}
<div class="content_side">
    <nav>
        <ul>
            <a href=""><li><h4>ALL EVENTS</h4></li></a>
            <a href=""><li>My events</li></a>
        </ul>
    </nav>
    <div class="cards">
        {% for i in result: %}
        
        <div class="card">
            <div class="img-holder">
                <img src="/static/img/plant.jpg" alt="">
            </div>
            <div class="text">
                <h2>{{i[2]}}</h2>
                <h2>{{i[3]}}</h2>
                <h2>{{i[4]}}</h2>
                <h2>{{i[5]}}</h2>
                <h2>{{i[6]}}</h2>
                <h2>{{i[7]}}</h2>
            </div>
            <form action="/sponsoreve/{{i[0]}}" method="post">
                <input type="submit" name="spomsor" id="" value="sponsor">
            </form>
        </div>
    
        {% endfor %}
    </div> 


{% endblock %}