<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body style="text-align: center; background-color:lightgrey;size:1040px;height:960px;background:url('https://media.istockphoto.com/photos/timeline-planning-checklist-or-business-plan-with-calendar-date-on-picture-id1211255735?k=20&m=1211255735&s=612x612&w=0&h=eT_yt1ZzUGw053m8ycranQWs8-kL0VDv67DrqfxNGxw=') no-repeat; background-size: cover"></body>>
    <h1 >Welcome To TO-DO App</h1><hr style="color:black">
    <h3 ><a href="/login" style="color:red">Login</a> &nbsp &nbsp<a href="/register" style="color:red">Register</a></h3>
</body>
</html>