<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body{
            background-color: black;
        }
        h1{
            color: red;
            text-align: center;
        }
        img{
            align-items: center;
        }
        h2{
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Error</h1><hr/>
    <!-- <h2>Duplicate Username or Email</h2> -->
    <h2>{{error}}</h2>
    <center>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsPFHKXHAaL2AXf3_6jzbSmkqNip1kTo2bUQ&usqp=CAU" width="1000" height="500">
    </center>
</body>
</html>